<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Dynatree - Example</title>

	<script src="{{ MEDIA_URL }}lbplayer/js/jquery.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}lbplayer/js/jquery-ui.custom.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}lbplayer/js/jquery.cookie.js" type="text/javascript"></script>

	<link href="{{ MEDIA_URL }}lbplayer/dynatree/skin-vista/ui.dynatree.css" rel="stylesheet" type="text/css">
	<script src="{{ MEDIA_URL }}lbplayer/js/jquery.dynatree.min.js" type="text/javascript"></script>

<script type="text/javascript">
	var _activeKey = null;
    url_lbplayer_ajax_childs = "{% url lbplayer_ajax_childs %}"
	$(function(){
		// --- Initialize sample trees
		tree = $("#tree").dynatree({
			title: "Lazy loading sample",
			persist: false,
			checkbox: true,
			selectMode: 3,
			onPostInit: function(isReloading, isError) {
//				alert("reloading: "+isReloading+", error:"+isError);
			   logMsg("onPostInit(%o, %o) - %o", isReloading, isError, this);
			   // Re-fire onActivate, so the text is updated
			   this.reactivate();
			},
			fx: { height: "toggle", duration: 200 },
			// initAjax is hard to fake, so we pass the children as object array:
			initAjax: {url: url_lbplayer_ajax_childs,
					   dataType: "json",
					   data: {key: "",
							  //sleep: 1,
							  //mode: "baseFolders"
							  },
					   //addExpandedKeyList: true // Send list of expanded keys, so the webservice can deliver these children also
					   },
			onLazyRead: function(node){
				node.appendAjax(
					{url: url_lbplayer_ajax_childs,
					 dataType: "json", // Enable JSONP, so this sample can be run from the local file system against a localhost server
					 data: {key: node.data.key,
							//mode: "branch"
							}
				});
			},
			onActivate: function(node) {
				$("#echoActive").text(node.data.tooltip + ", key=" + node.data.key);
				_activeKey = node.data.key;
			}
		});

		$("#btnReload").click(function(){
			$("#tree").dynatree("getTree").reload();
			return false;
		});
		$("#btnReloadNode").click(function(){
			$("#tree").dynatree("getTree").getNodeByKey(_activeKey).reloadChildren();
			return false;
		});
		$("#btnOk").click(function(){
			selRootNodes = $("#tree").dynatree("getTree").getSelectedNodes(true);
			var selRootKeys = $.map(selRootNodes, function(node){
				return node.data.key;
			});
			t = selRootKeys.join(",");
			window.returnValue=t;
			window.close(); 
			return false;
		});
		$("#btnCancel").click(function(){
			window.close(); 
			return false;
		});

	});
</script>
</head>

<body>
	<div id="tree">
		<!-- When using initAjax, it may be nice to put a throbber here, that spins until the initial content is loaded: -->
		Loading...
	</div>

	<p>
		<button id="btnOk"
				onclick='
				'
				>确定</button>
		<button id="btnCancel">取消</button>
	</p>
</body>
</html>
