<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>select music</title>

	<script src="{{ MEDIA_URL }}lbplayer/js/jquery.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}lbplayer/js/jquery-ui.custom.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}lbplayer/js/jquery.cookie.js" type="text/javascript"></script>

	<link href="{{ MEDIA_URL }}lbplayer/dynatree/skin-vista/ui.dynatree.css" rel="stylesheet" type="text/css">
	<script src="{{ MEDIA_URL }}lbplayer/js/jquery.dynatree.min.js" type="text/javascript"></script>

<script type="text/javascript">
	var _activeKey = null;
    url_lbplayer_ajax_childs = "{% url lbplayer_ajax_childs %}"
	$(function(){
		tree = $("#tree").dynatree({
			title: "Musics",
			persist: false,
			checkbox: true,
			selectMode: 3,
			onPostInit: function(isReloading, isError) {
			   logMsg("onPostInit(%o, %o) - %o", isReloading, isError, this);
			   this.reactivate();
			},
			fx: { height: "toggle", duration: 200 },
			initAjax: {url: url_lbplayer_ajax_childs,
					   dataType: "json",
					   data: {key: "",
							  },
					   },
			onLazyRead: function(node){
				node.appendAjax(
					{url: url_lbplayer_ajax_childs,
					 dataType: "json", // Enable JSONP, so this sample can be run from the local file system against a localhost server
					 data: {key: node.data.key,
							}
				});
			},
			onActivate: function(node) {
				$("#echoActive").text(node.data.tooltip + ", key=" + node.data.key);
				_activeKey = node.data.key;
			}
		});

		$(".btnOk").each(function(){
			$(this).click(function(){
				var selRootNodes = $("#tree").dynatree("getTree").getSelectedNodes(true);
				var selRootKeys = $.map(selRootNodes, function(node){
					return node.data.key;
				});
				window.returnValue = selRootKeys.join(",");
				window.close(); 
				return false;
			});
		});
		$(".btnCancel").each(function(){
			$(this).click(function(){
				window.close(); 
				return false;
			});
		});

	});
</script>
</head>

<body>
	<p>
		<button class="btnOk">确定</button>
		<button class="btnCancel">取消</button>
	</p>

	<div id="tree">
		<!-- When using initAjax, it may be nice to put a throbber here, that spins until the initial content is loaded: -->
		Loading...
	</div>

	<p>
		<button class="btnOk">确定</button>
		<button class="btnCancel">取消</button>
	</p>
</body>
</html>
